.footer__author {
    font-style: normal;
    font-weight: normal;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    min-width: 185px;
    text-align: right;
}

@media screen and (max-width: 767px) {
    .footer__author {
        margin-top: 16px;
        text-align: left;
    }
}