.header__link {
    margin-top: 46px;
    margin-right: 48px;
}

@media screen and (max-width: 1023px) {
    .header__link {
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .header__link {
        position: absolute;
        left: 205px;
        top: -16px;
    }
}