.place__href {
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    opacity: 1;
}

.place__href:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .place__href {
        margin-left: 16px;
    }
}