.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    min-width: 158px;
    width: 100%;
    color: #ffffff;
    margin: 0;
    margin-top: 8px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: left;
    align-self: start;
}

@media screen and (max-width: 1279px) {
    .lead__caption {
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}