    .intro__article {
        font-style: normal;
        font-weight: normal;
        max-width: 690px;
        width: 100%;
        font-size: 16px;
        line-height: 26px;
        margin-top: 40px;
        text-align: left;
        color: #ffffff;
    }
    
    @media screen and (max-width: 1023px) {
        .intro__article {
            max-width: 720px;
        }
    }
    
    @media screen and (max-width: 767px) {
        .intro__article {
            max-width: 288px;
        }
    }